{% extends 'Base.html' %}
{% block content %}
            <div style="margin-left: 5%;margin-right: 5%; margin-top: 20px; min-height:100%">
                <h4>Main Education:</h4>
                {% for school in education %}


                            <h5 style="line-height: 4em;"><img src="/media/{{ school.univeristysign }}"
                                                           style="height: 80px; width: 80px; ">
                            <b>{{ school.univeristyname }}</b><span style="float: right;">{{ school.period }}</span><br>
                            <b>{{ school.level }} :</b>
                            </b>{{ school.univeristytopic }}<br>
</h5>


                        <hr>


                {% endfor %}
                <br>

                <h4>Additional courses:</h4>
                {% for cours in courses %}
                    <li>{{ cours.topic }}</li>
                {% endfor %}


                {% if user.is_authenticated %}
                    <a href="">Add edu </a>
                {% endif %}
            </div>
    <br><br>

{% endblock %}