{% extends 'Base.html' %}
{% block content %}
            <div style="margin-left: 5%;margin-right: 5%; margin-top: 20px; min-height:100%">

                {% for item in jobs|dictsortreversed:"job.period" %}



                        <h5 style="line-height: 5em;"><img src="/media/{{ item.job.companysign }}"
                                                           style="height: 50px; width: 110px;">

                            <b>{{ item.job.title }}</b>
                            <span style="float: right;">{{ item.job.period }}</span></h5>

                        <hr>
                    {% for duty in item.duties %}
                        <li>{{ duty }}</li>
                    {% endfor %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'edit_job' item.job.pk %}">Edit</a>
                            <a href="{% url 'delete_job' item.job.pk %}">delete</a>
                        {% endif %}

                {% endfor %}
                {% if user.is_authenticated %}
                    <a href="{% url 'new_job' %}" style="float: right;">Add job </a>
                {% endif %}
            </div>
    <br><br>

{% endblock %}